<!DOCTYPE html>
<html>
<head>
  <title>User login</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  
  <form action="/set" method="POST">

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>
    <button type="submit">Login</button>
  </form>
    <a href="/">New User ? Register !</a>

</body>
</html>
