/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f8f9fa, #e0e7ff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}

/* Form box */
form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin-bottom: 1rem;
}

/* Labels */
form label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

/* Inputs */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.3s ease;
}

form input:focus {
  border-color: #4f46e5;
  outline: none;
}

/* Submit Button */
form button {
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #4338ca;
}

/* Link */
a {
  font-size: 14px;
  text-decoration: none;
  color: #4f46e5;
  transition: color 0.3s ease;
}

a:hover {
  color: #3730a3;
}
